<div>
<p>{{chosenMovie.title}}</p>
  <div ngClass="image-container">
  <img src="{{chosenMovie.imgUrl}}" (click)="purchaseMovie(chosenMovie)"(mouseover)="mouseover=true" (mouseout)="mouseover=false" ngClass='image'>
    <a (click)="getMoreInfo()" [routerLink]='["movie", chosenMovie._id]'> More Info</a>
    <div *ngIf="mouseOver">
    {{chosenMovie.descrShort}}
  </div>
  </div>
  <!--<span>{{chosenMovie.price}}$</span>-->
  <!--<input type="button" value="Purchase" (click)="purchaseMovie(chosenMovie)"/>-->
</div>
